body{
    background-color: var(--bg-cr);
    color: var(--txt-cr);

    transition: .5s;

    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

th{
    color: var(--txt-cr);
}

td{
    color: var(--txt-cr);
}

@keyframes fade{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --bg-cr: #797380;
        --txt-cr: white;
    }
}

@media (prefers-color-scheme: light) {
    :root{
        --bg-cr: beige;
        --txt-cr: black;
    }
}