
.name{
    margin-top: 30px;
}

.icon{
    margin: 15px 45px 45px 45px;
}
body{
    background-color: beige;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.right{
    margin: 0 0 0 auto;
}
.sns{
    float: right;
    margin: 0px 20px 20px 20px;
}

a {
    color: var(--primary-color);
  }

@keyframes fade{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #797380;
        color: white;
    }
    th{
        color: white;
    }
    td{
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: beige;
        color: black;
    }
    th{
        color: black;
    }
    td{
        color: black;
    }
}